@model IEnumerable<ISPRC.Models.ReleasePoint>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-8">
                <h3 class="marginTop40">Release Points&emsp;>&emsp;<a href="@Url.Action("Create")">Add Release Point</a></h3>
            </div>
            <div class="col-xs-4">
                <input class="all-search form-control pull-right" style="margin-top:38px;" placeholder="Search ..." />
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        Club
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleasePointName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RaceLatitudeCoordinate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RaceLongitudeCoordinate)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.OrderBy(m=>m.ReleasePointName))
                {
                    <tr>
                        <td>
                            @if (item.ClubId != null)
                            {
                                <text>@item.Club.ClubName</text>
                            }else
                            {
                                <text>None</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleasePointName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaceLatitudeCoordinate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaceLongitudeCoordinate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ReleasePointId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ReleasePointId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ReleasePointId }) |

                            @if (item.IsActive == true)
                            {
                                @Html.ActionLink("Disable", "DisableReleasePoint", new { id = item.ReleasePointId })
                            }
                            else
                            {
                                @Html.ActionLink("Enable", "EnableReleasePoint", new { id = item.ReleasePointId })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 10,
                "dom": "<'table-window'<'table-responsive'rt>><'window-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}